/* MASTER STYLES */
body
{
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  background-color: black;
}

.container
{
  display: grid;
  grid-template-columns: 1fr;

}
/*NAV STYLES*/
.nav-wrapper
{
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side
{
  display: flex;
}

.nav-wrapper > .left-side > div
{
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper
{
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a
{
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.right-side
{
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover
{
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover
{
  color: white;
}

/*PORTFOLIO STYLES */
.portfolio-items-wrapper
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  /*3 columns full size*/
}

.portfolio-item-wrapper
{
  position: relative;
}

.portfolio-img-background
{
  height: 350px;
  width: 100%;
  background-size: cover;  /*if items will be diffrent size */
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper
{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper
{
  width: 50%;
  margin-bottom: 20px;

}

.img-text-wrapper .subtitle
{
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle
{
  font-weight: 600;
  color: mediumspringgreen;
}

.img-darken
{
  transition: 1s;
  filter: brightness(10%);
}

/* ABOUT PAGE STYLES */
.two-column-wrapper
{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-ab-wrapper
{
  width: 100%;
}

.content-ab-wrapper
{
  padding: 30px;
  font-size: 30px;
  color: lightblue;
}

.content-ab-wrapper h1
{
  color: hotpink;
}
